* {
  box-sizing: border-box;
  font-family: IranSans;
}

@font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: bold;
  src: url('/fonts/IRANSansWeb_Bold.woff') format('woff');  /* All Major Browsers */
}
@font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: 500;
  src: url('/IRANSansWeb_Medium.woff') format('woff');  /* All Major Browsers */
}
@font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: 300;
  src: url('/fonts/IRANSansWeb_Light.woff') format('woff');  /* All Major Browsers */
}
@font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: 200;
  src: url('/fonts/IRANSansWeb_UltraLight.woff') format('woff');  /* All Major Browsers */
}
@font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: normal;
  src: url('/fonts/IRANSansWeb.woff') format('woff');  /* All Major Browsers */
}


/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}